<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laser Esthetics by Dr Niyati | Cosmetologist & Laser Physician</title>
    <meta name="keywords" content="laser hair removal Clinic ">
    @Styles.Render("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100%7CRoboto:400,700,300,100")
    <!-- Bootstrap and Font Awesome css -->
    @Styles.Render("~/css/font-awesome.css")
    @Styles.Render("~/css/bootstrap.min.css")
    <!-- Theme stylesheet -->
    @Styles.Render("~/css/style.default.css")
    <!-- Custom stylesheet - for your changes -->
    @Styles.Render("~/css/custom.css")
    <!-- owl carousel css -->
    @Styles.Render("~/css/owl.carousel.css")
    @Styles.Render("~/css/owl.theme.css")
    <!-- CSS Animations -->
    @Styles.Render("~/css/animate.css")

    <!-- Responsivity for older IE -->
    @*[if lt IE 9]>
            @Scripts.Render("js/respond.min.js")
        <![endif]*@
</head>
<body data-spy="scroll" data-target="#navigation" data-offset="120">
    <!-- *** NAVBAR ***
    _________________________________________________________ -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="float:left;margin-left:5px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="navbar-brand scrollTo" href="#intro">
                                Laser Esthetics  <br /><span style="font-weight:400;font-size:medium; color:black;"> Call  + 91 9717721011 , 9923719219</span>
                            </a>

                        </div>

                    </div>
                </div>

            </div>
            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#intro">Intro</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>

                    <li>
                        <a href="#testimonials">Testimonials</a>
                    </li>

                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /#navbar -->
    <!-- *** NAVBAR END *** -->

    <div id="all">

        <!-- *** INTRO IMAGE ***
        _________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item" style="background: url('../img/laser-home-2.jpg') left no-repeat;">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <h2 data-animate="slideInUp" style="color:black">Experience top of the range laser hair removal technology at Laser Esthetics</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** INTRO IMAGE END *** -->
        <!-- *** SERVICES ***
        _________________________________________________________ -->
        <div class="section" id="services">
            <div class="container">
                <div class="col-sm-12">
                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">Services</h2>
                        <p class="lead" data-animate="fadeInUp">We offer a wide range of Beauty Services.</p>
                    </div>
                    <ul id="filter" data-animate="fadeInUp">
                        <li class="active">
                            <a href="#" data-filter="all">All</a>
                        </li>
                        <li>
                            <a href="#" data-filter="laser">Laser Treatment</a>
                        </li>
                        <li>
                            <a href="#" data-filter="skin">Skin Treatment</a>
                        </li>

                    </ul>
                    <div id="detail">
                        <span class="close">&times;</span>
                        <div id="detail-slider"></div>
                        <div class="text-center">
                            <h1 id="detail-title">&nbsp;</h1>
                        </div>
                        <div id="detail-content"></div>
                    </div>
                    <!-- Reference detail -->
                    <div id="references-masonry" data-animate="fadeInUp">
                        <div class="reference-item" data-category="laser">
                            <div class="reference">
                                <a href="#">
                                    <img src="../img/laser-hair-thumb.jpg" class="img-responsive-thumb" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title">Laser Hair Removal</h3>
                                        <p>Laser Hair removal is a more effective solution to remove unwanted hair permanently using state of the art laser systems.</p>
                                    </div>
                                </a>
                                <div class="sr-only reference-description" data-images="../img/main-slider-1.jpg,../img/main-slider-2.jpg,../img/main-slider-3.jpg">
                                    <p>
                                        Laser Hair removal is a more effective solution to remove unwanted hair permanently using state of the art laser systems specially designed to remove hair faster, with less discomfort and more reliably than other methods.

                                        The laser machines we use at Laser Aesthetica are high powered and guaranteed to give you permanent hair reduction. Our clinic uses the latest dioide laser machine.

                                    </p>
                                    <p>
                                        Laser Aesthetica.in offers advanced hair removal for both men and women. We use state of the art technology and offer a range of laser hair removal treatments and beauty treatments to cater for our clients needs.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="reference-item" data-category="laser">
                            <div class="reference">
                                <a href="#">
                                    <img src="../img/tatoo-removal-thumb.jpg" class="img-responsive-thumb" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title">Tatoo Removal</h3>
                                        <p> Our Laser tattoo removal procedure, often requires fewer treatments than other technologies, meaning you'll get back to a clear canvas in no time.</p>
                                    </div>
                                </a>
                                <div class="sr-only reference-description" data-images="../img/tatoo-removal.jpg,../img/tattoo-removal-2.jpg">
                                    <p>
                                        At Laser Esthetics, we want you to feel confident in your own skin - and we can help you get there by providing you with a fresh, clean slate,
                                        We user the most advanced laser treatment available for tattoo removal,It targets unwanted ink faster than ever before, successfully removing difficult ink colors, such as blue and green, as well as previously treated tattoos.

                                    </p>
                                    <p>
                                        Our Laser tattoo removal procedure, often requires fewer treatments than other technologies, meaning you'll get back to a clear canvas in no time.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="reference-item" data-category="skin">
                            <div class="reference">
                                <a href="#">
                                    <img src="../img/chemical-peels.jpg" class="img-responsive-thumb" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title">Chemical Peels</h3>
                                        <p>Chemical Peel.</p>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="reference-item" data-category="laser">
                            <div class="reference">
                                <a href="#">
                                    <img src="../img/acne-treatment.jpg" class="img-responsive-thumb" alt="" />
                                    <div class="overlay">
                                        <h3 class="reference-title">Mole / Acne Treatment</h3>
                                        <p> We have best in class Treatments for Acne and Mole removal.</p>
                                    </div>
                                </a>
                                <div class="sr-only reference-description" data-images="../img/acne-preview-1.jpg">
                                    <p>
                                        Whether its acne or any other kind of dermatological problem, Laser Esthetics has a solution for everyone.
                                    </p>

                                </div>
                            </div>
                        </div>





                    </div>
                    <!-- /#references-masonry -->
                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- *** SERVICES END *** -->
        <!-- *** ABOUT ***
        _________________________________________________________ -->

        <div class="section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown">Who We Are</h2>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 text-left" data-animate="fadeInUp">
                                <p>
                                    Laser Esthetics is the pioneer in Aesthetic Dermatology.There are many players in this field but they work either purely on a commercial basis or as a traditional dermatology institute and conduct work only in dermatology.

                                    Our services include dermatology and skin surgery, aesthetic dermatology, lasers & cosmetic surgery. We have thus established ourselves as the perfect balance between aesthetic dermatology, hardcore dermatology & dermatology teaching.

                                    Laser Esthetics caters to its client in <strong>Gurgaon and Ghaziabad </strong> We have catered to several patients in NCR.
                                </p>
                                <p>
                                    <strong> Dr. B.P. Tyagi, ENT/ Otorhinolaryngologist </strong> has an experience of 24 years in this field. Dr. B.P. Tyagi practices at Harsh Polyclinic in Raj Nagar Extension, Ghaziabad and offers services like <strong> Vertigo/Dizziness, Cochlear Implants, Facial Cosmetic Surgery </strong>, Head and Neck Tumor / Cancer Surgery and Surgery for Snoring etc.
                                </p>
                                <p>
                                    Along with <strong> Dr.Niyati Dhawan, Cosmetologist & Laser Physician</strong> is a pioneer in the latest trends and technologies in Laser and Energy Based devices and is regularly invited as faculty to various National and International conferences. She is the first to embrace and launch new technologies in this field, and has already enjoyed experimenting with more than forty different lasers and energy based devices (EBDs) 
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-2 mt-big" data-animate="bounceIn" title="Dr. Niyati Dhawan">
                        <img src="../img/dr-niyati.jpg" class="image img-circle img-responsive-circle" alt="">
                        <br />
                        <div> Dr. Niyati Dhawan </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mt-big" data-animate="bounceIn">
                        <img src="../img/dr-tyagi.jpg" class="image img-circle img-responsive-circle" alt="" title="Dr. Brijpal Tyagi">
                        <br />
                        <div> Dr. B P Tyagi </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /#about -->
        <!-- *** ABOUT END *** -->
        <!-- /.section -->
        <!-- *** TESTIMONIALS ***
        _________________________________________________________ -->
        <div class="section text-gray" id="testimonials" data-animate="fadeInUp">
            <div class="container">
                <div class="col-md-12">
                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">Our customers said<br /><span>about us</span></h2>
                        <p class="lead text-center" data-animate="fadeInUp">I am always glad to hear that my customers leave satisfied. Some of them shared with you their insights on our cooperation.</p>
                    </div>
                    <ul class="owl-carousel testimonials same-height-row" data-animate="fadeInUp">
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>
                                        I think I heard about Laser Esthetics from my friend, and it definitely changed me as a person 100%. It is phenomenal. I haven’t bought razors - which are so expensive now - for years, because I never shave, never.

                                        It’s not even anything on my mind anymore where it was always on my mind and the first thing on my mind before I had Laser Hair Removal. It’s amazing. It truly is amazing.

                                    </p>
                                </div>
                                <div class="bottom">
                                    <div class="icon">
                                        <i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">

                                        <h5>Ashima Singh (Laser Treatment)</h5>
                                        <p>Gurgaon</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>
                                        <strong> Dr Niyati's </strong> center is greatest center for skin treatment. They have all the solutions under one umbrella and have a team of expert consultants and doctors.
                                    </p>
                                </div>
                                <div class="bottom">
                                    <div class="icon">
                                        <i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">

                                        <h5>Niharika (Laser Treatment)</h5>
                                        <p>Gurgaon</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">

                                    <p>
                                        Best Laser hair removal center at very resonable charges,It give me confidence and transformed my life.
                                    </p>
                                </div>
                                <div class="bottom">
                                    <div class="icon">
                                        <i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">

                                        <h5>Nilima (Laser Treatment)</h5>
                                        <p>Gurgaon</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">

                                    <p>
                                        I  got a beautiful face after Fat Transplant which made me happy and confident.
                                    </p>
                                </div>
                                <div class="bottom">
                                    <div class="icon">
                                        <i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">

                                        <h5> Varsha. S (Liposuction)</h5>
                                        <p>Ghaziabad</p>
                                    </div>
                                </div>
                            </div>
                        </li>





                    </ul>
                    <!-- /.owl-carousel -->
                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->
        <!-- *** TESTIMONIALS END *** -->
        <!-- *** CONTACT ***
        _________________________________________________________ -->
        <div class="section contact" id="contact" data-animate="bounceIn">
            <div class="container">
                <div class="col-md-12">

                    <h2 class="title">Contact Us</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <strong>
                                For Appointments Call
                                <br />
                                + 91 9717721011 , 9923719219
                            </strong>
                            <br />
                            <br />
                            <p> We have three centers in NCR</p>
                            <br />

                            <div style="text-align:left">

                                <p><strong> 1). </strong> Harsh Polyclinic in Raj Nagar Extension, Ghaziabad.</p>
                                <br />

                                <p><strong> 2). </strong> Laser Esthetics Clinic E-199 New Palam Vihar phase 2 , Gurgaon.</p>
                                <br />

                                <p><strong> 3). </strong> Laser Esthetics Clinic A-172 DLF New Town Heights sector 86, Gurgaon (near Manesar).</p>


                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->
        <!-- *** CONTACT END *** -->
        <!-- *** MAP ***
        _________________________________________________________ -->
        @*<div class="section" id="map">
            </div>*@
        <!-- /.section -->
        <!-- *** MAP END *** -->
        <!-- *** FOOTER ***
        _________________________________________________________ -->
        <div class="section" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="social">
                            <a href="#" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                    <!-- /.6 -->
                    <div class="col-sm-6">
                        <p>&copy; 2017 Laser Esthetics, A unit of Harsh Polyclinic Ghaziabad. All rights reserved.</p>
                    </div>
                    <div class="col-sm-12">
                        <p class="template-bootstrapious">Template by <a href="https://bootstrapious.com/free-templates">Bootstrapious</a></p>

                        <!-- Please do not remove the backlink to us, unless you support the development at https://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->

                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->
        <!-- *** FOOTER END *** -->

    </div>
    <!-- /#all -->
    <!-- #### JAVASCRIPT FILES ### -->
    <!-- js base -->
    @section scripts{
        <!-- Mordernizr -->
        @*@Scripts.Render("~/Scripts/jquery-1.11.0.min.js")*@
        @*@Scripts.Render("~/Scripts/modernizr-2.6.2.js")
            @Scripts.Render("~/Scripts/js/jquery-1.11.0.min.js")
            @Scripts.Render("~/Scripts/js/bootstrap.min.js")*@
        <!-- for demo purpose -->
        @Scripts.Render("~/Scripts/js/jquery.cookie.js")
        <!-- waypoints for scroll spy -->
        @Scripts.Render("~/Scripts/js/waypoints.min.js")
        <!-- maps -->
        @*@Scripts.Render("https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false")
            @Scripts.Render("~/Scripts/js/gmaps.js")*@
        <!-- masonry layout -->
        @Scripts.Render("~/Scripts/js/masonry.pkgd.min.js")
        <!-- owl carousel -->
        @Scripts.Render("~/Scripts/js/owl.carousel.min.js")

        <!-- jQuery scroll to -->
        @Scripts.Render("~/Scripts/js/jquery.scrollTo.min.js")
        <!-- jQuery counter -->
        @Scripts.Render("~/Scripts/js/jquery.counterup.min.js")
        <!-- jQuery parallax -->
        @Scripts.Render("~/Scripts/js/jquery.parallax-1.1.3.js")
        <!-- main js file -->
        @Scripts.Render("~/Scripts/js/front.js")
    }



</body>
</html>